.container {
    background-color: var(--primary-background);
    min-height: 100vh;
    padding-block: 30px 90px;
}

.container_wrap {
    max-width: 90%;
    margin: auto;
}

@media screen and (min-width: 650px) {
    .container_wrap {
        max-width: 573px;
        padding-block: 140px;
    }
}
@media screen and (min-width: 950px) {
    .container_wrap {
        max-width: 730px;
    }
}
